<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carePath</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/nav.css">
    <link rel="stylesheet" href="/public/css/chooseInfo.css">
    <link rel="stylesheet" href="/public/css/footer.css">

<body>
    <header>
        <p><a href="index.html">carePath</a></p>
        <a href="/views/index.html"><img src="/public/images/home.png" alt=""></a>
    </header>

    <main>
        <div class="goBack-btn">
            <a href="/views/index.html"><img src="/public/images/left-arrow.png" alt=""></a>
        </div>
        <h2 class="question">
            <p>어떤 <strong>정보</strong>를</p>
            <p>찾고 계신가요?</p>
        </h2>
        <div class="icon"><img src="/public/images/speech-bubble.png" alt="일러스트"></div>

        <div class="card-container">
            <div class="choose-card" onclick="window.location.href='#'">
                <div class="main-title">
                    <h2 class="card-title title1">직업 훈련 및<p>취업 지원</p>
                    </h2>
                    <a href="/views/infos/infoMain.html"><img src="/public/images/right-arrow.png" alt=""
                            class="arrow"></a>
                </div>
                <p class="card-text text1">원하는 직업 훈련 빛 취업 지원<br>정보를 간단하게 얻어가세요!</p>
                <div class="card-icon information-icon"><img src="/public/images/setting-icon.png" alt=""></div>
            </div>

            <div class="choose-card" onclick="window.location.href='#'">
                <div class="main-title">
                    <h2 class="card-title title2">복지혜택</h2>
                    <a href="/views/welfareBenefits/chooseBenefits.html">
                        <img src="/public/images/right-arrow.png" alt="" class="arrow"></a>
                </div>
                <p class="card-text text2">원하는 직업 훈련 빛 취업 지원 <br>정보를 간단하게 얻어가세요!</p>
                <div class="card-icon"><img src="/public/images/pocket-icon.png" alt=""></div>
            </div>
        </div>

    </main>

    <footer>
        <div class="logos">
            <a href="#"><img src="/public/images/instagram.png" alt=""></a>
            <a href="#"><img src="/public/images/facebook.png" alt=""></a>
            <a href="#"><img src="/public/images/youtube.png" alt=""></a>
        </div>

        <div class="info">
            <p>회사 소개 | 서비스이용약관 | 영상정보처리방침 </p>
            <p>고객서비스센터 080-1234-1234 (월~금 : AM 09:00 ~ PM 06:00)</p>
        </div>
    </footer>

</body>

</html>