<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carePath - 무료 음식 배급소 지도 </title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/nav.css">
    <link rel="stylesheet" href="/public/css/foodCenterMap.css">
    <link rel="stylesheet" href="/public/css/footer.css">

<body>
    <header>
        <p><a href="index.html">carePath</a></p>
        <a href="/views/index.html"><img src="/public/images/home.png" alt=""></a>
    </header>

    <main>
        <div id="map" style="width:500px;height:400px;"></div>
        <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6712dffcf236255e7d9c54d3e5a0c3d8"></script>
        <script>
            var container = document.getElementById('map');
            var options = {
                center: new kakao.maps.LatLng(36, 127),
                mapTypeId: kakao.maps.MapTypeId.SKYVIEW,
                level: 4
            };

            var map = new kakao.maps.Map(container, options);
        </script>

    </main>


    <footer>
        <div class="back" onclick="window.location.href='#'">뒤로 돌아가기</div>
        <div class="logos">
            <a href="#"><img src="/public/images/instagram.png" alt=""></a>
            <a href="#"><img src="/public/images/facebook.png" alt=""></a>
            <a href="#"><img src="/public/images/youtube.png" alt=""></a>
        </div>

        <div class="info">
            <p>회사 소개 | 서비스이용약관 | 영상정보처리방침 </p>
            <p>고객서비스센터 080-1234-1234 (월~금 : AM 09:00 ~ PM 06:00)</p>
        </div>
    </footer>

</body>
<!-- <script src="/public/js/foodCenterMap.js"></script> -->
<!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2nsdd0L06GCs8SL7dO87VMIiCyreMWsM&libraries=places&callback=initMap">
    </script> -->


</html>