<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carePath</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/nav.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/footer.css">

<body>
    <header>
        <p>carePath</p>
    </header>

    <main>
        <div class="description-container">
            <h1 class="main-title">노숙자들의 안전을 위해</h1>
            <div class="brand-name">Carepath</div>
            <div class="introduce">
                <p>사용자님께 알맞는 다양한 정보와 시설을 찾아보세요!</p>
                <p>자세한 설명을 통해 원하는 정보를 얻어가실 수 있습니다!</p>
            </div>
        </div>

        <div class="card-container">

            <div class="choose-card" onclick="window.location.href='#'">
                <h2 class="card-title">정보찾기</h2>
                <p class="card-text text1">직업 훈련 및 취업 지원 정보, 복지 혜택 등의<br> 다양한 정보를 찾아보실 수 있습니다.</p>
                <div class="card-icon information-icon"><img src="/public/images/information-icon.png" alt=""></div>
            </div>

            <div class="choose-card" onclick="window.location.href='#'">
                <h2 class="card-title">시설 및<br>
                    상담사 찾기</h2>
                <p class="card-text text2">사용자님께서 원하는 시설 정보 및<br>
                    상담사를 매칭해드립니다!</p>
                <div class="card-icon"><img src="/public/images/counceler-icon.png" alt=""></div>
            </div>

        </div>
    </main>

    <footer>
        <div class="logos">
            <a href="#"><img src="/public/images/instagram.png" alt=""></a>
            <a href="#"><img src="/public/images/facebook.png" alt=""></a>
            <a href="#"><img src="/public/images/youtube.png" alt=""></a>
        </div>

        <div class="info">
            <p>회사 소개 | 서비스이용약관 | 영상정보처리방침 </p>
            <p>고객서비스센터 080-1234-1234 (월~금 : AM 09:00 ~ PM 06:00)</p>
        </div>
    </footer>

</body>

</html>