main {
    margin-top: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container {
    display: flex;
    width: 980px;
    height: 60px;
    padding: 8px 22px;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    background: var(--Color-Grey-white, #FFF);
    box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.05), 0px 6px 4px 0px rgba(0, 0, 0, 0.15);
}

input {
    border: none;
    outline: none;
    width: 800px;
    font-size: 20px;
}

.search-container img {
    width: 44px;
    height: 44px;
}

.question {
    color: var(--Color-Black-1000, #020202);
    font-size: 64px;
    font-weight: 400;
    margin: 120px 0 50px -150px;
}

/* 일러스트 로고 밑에 margin */
.icon {
    margin-bottom: 30px;
}

.main-title {
    display: flex;
}

.arrow {
    width: 23px;
    height: 40px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #FFF;
    margin-bottom: 180px;
}

.choose-card {
    width: 405px;
    height: 440px;
    border-radius: 30px;
    background: var(--Color-Primary-600, #FF8433);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 40px 0 0 40px;
}

.title1 {
    margin-right: 100px;
}

.title2 {
    margin-right: 154px;
}

.card-title {

    font-size: 40px;
    margin-bottom: 25px;
}

.card-text {

    font-size: 20px;
}

.card-icon {
    display: flex;
    justify-content: flex-end;
}

.card-icon img {
    width: 100px;
    height: 110px;
    margin-right: 50px;
}

.information-icon img {
    height: 100px;
}

.text1 {
    margin-bottom: 100px;
}

.text2 {
    margin-bottom: 129px;
}

.back {
    display: flex;
    width: 850px;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #FF8433;
    border-radius: 20px;
    background: var(--Color-Primary-600, #FF8433);
    font-size: 32px;
    color: #FFF;
    margin: 45px 0 60px 0;
}