main {
    margin-top: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goBack-btn {
    position: absolute;
    top: 14%;
    left: 80px;
}

.goBack-btn img {
    width: 30px;
    height: 52px;
}

.question-container {
    display: flex;
    margin: 152px 0 0 -10%;
    gap: 50px;
}

.question-container img {
    width: 232px;
    height: 232px;
    position: relative;
    top: -35px;
    right: -120px;
}

.question {
    color: var(--Color-Black-1000, #020202);
    font-size: 64px;
    font-weight: 400;
}

.question strong {
    color: var(--Color-Primary-500, #FF6500);
}

.q1 {
    margin-left: -10%;
    margin: 150px 0 0 -10%;
}

.q2 {
    margin-left: -25%;
}



/* 일러스트 로고 밑에 margin */
.icon {
    margin-bottom: 30px;
}

.main-title {
    display: flex;
}

.arrow {
    width: 23px;
    height: 40px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: #FFF;
    margin-bottom: 150px;
}

.choose-main-card {
    width: 840px;
    height: 260px;
    border-radius: 30px;
    border: 1px solid var(--Color-Grey-900, #E5E5E5);
    background: var(--Color-Grey-white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    padding: 45px 0 0 45px;
}

.title1 {
    margin-right: 279px;
}

.card-title {
    font-size: 40px;
    margin-bottom: 25px;
    color: var(--Color-Grey-100, #1A1A1A);
}

.card-text {
    font-size: 20px;
}

.card-icon {
    display: flex;
    justify-content: flex-end;
}

.card-icon img {
    width: 100px;
    height: 110px;
    margin-right: 50px;
}

.information-icon img {
    height: 100px;
}

.text1 {
    margin-bottom: 100px;
    color: var(--Color-Grey-400, #666);
}

.choose-second-card,
.choose-third-card {
    display: flex;
    gap: 25px;
}

.title-container {
    display: flex;
}

.second-card,
.third-card {
    padding: 50px 0 0 46px;
    width: 410px;
    height: 257px;
    border-radius: 30px;
    border: 1px solid var(--Color-Grey-900, #E5E5E5);
    background: var(--Color-Grey-white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

h3 {
    font-size: 40px;
    margin: 0 150px 15px 0;
    color: var(--Color-Grey-100, #1A1A1A);
}

.icon img {
    width: 432px;
    height: 432px;
    margin-left: 20%;
}

.description {
    color: var(--Color-Grey-400, #666);
    font-size: 20px;
}

.sub1 {
    margin-right: 80px;
}

.sub2 {
    margin-right: 100px;
}

.sub-title {
    margin-right: 410px;
}

.sub-container {
    margin-bottom: 50px;
}

.home-icon {
    width: 290px;
    height: 288px;
    margin: 10px 0 100px 40%;
}

.choose {
    margin-bottom: 80px;
}