main {
    margin-top: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goBack-btn {
    position: absolute;
    top: 14%;
    left: 80px;
}



.goBack-btn img {
    width: 30px;
    height: 52px;
}

.question {
    color: var(--Color-Black-1000, #020202);
    font-size: 64px;
    font-weight: 400;
    margin: 176px 0 48px -450px;
    display: flex;
    flex-direction: column;
}

strong {
    color: var(--Color-Primary-500, #FF6500);
}

/* 일러스트 로고 밑에 margin */
.icon {
    margin-bottom: 30px;
}

.main-title {
    display: flex;
}

.arrow {
    width: 23px;
    height: 40px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #FFF;
    margin-bottom: 180px;
}

.choose-card {
    width: 410px;
    height: 257px;
    border-radius: 30px;
    border: 1px solid var(--Color-Grey-900, #E5E5E5);
    background: var(--Color-Grey-white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    padding: 50px 0 0 46px;
}

.title1 {
    margin-right: 100px;
}

.title2 {
    margin-right: 154px;
}

.card-title {
    color: var(--Color-Grey-100, #1A1A1A);
    font-size: 40px;
    margin-bottom: 15px;
}

.card-text {
    color: var(--Color-Grey-400, #666);
    font-size: 20px;
}

.card-icon {
    display: flex;
    justify-content: flex-end;
}

.card-icon img {
    width: 100px;
    height: 110px;
    margin-right: 50px;
}

.information-icon img {
    height: 100px;
}

.text1 {

    margin-bottom: 100px;
    /*임시*/
}

.text2 {
    margin-bottom: 129px;
}

.back {
    display: flex;
    width: 850px;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #FF8433;
    border-radius: 20px;
    background: var(--Color-Primary-600, #FF8433);
    font-size: 32px;
    color: #FFF;
    margin: 45px 0 60px 0;
}