body {
    width: 100%;
    max-width: 1080px;
    height: 1920px;
}

main {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description-container {
    text-align: center;
}

.main-title {
    color: var(--Color-Black-1000, #020202);
    text-align: center;
    font-size: 64px;
    font-weight: 500;
}

.brand-name {
    color: var(--Color-Primary-500, #FF6500);
    font-family: Tenada;
    font-size: 96px;
    font-weight: 800;
}

.introduce>p {
    color: var(--Color-Black-opacity-64, rgba(2, 2, 2, 0.64));
    text-align: center;
    font-size: 32px;
}

.introduce {
    margin: 70px 0 163px 0;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 180px;
}

.choose-card {
    width: 410px;
    height: 257px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid var(--Color-Grey-800, #CCC);
    background: var(--Color-Grey-white, #FFF);
    box-shadow: 0px 14px 10px 0px rgba(0, 0, 0, 0.05);
    padding: 50px 0 0 50px;
    cursor: pointer;
}

.card-title {
    color: var(--Color-Grey-200, #333);
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 25px;
}

.search-counselor p,
.choose-card p {
    color: var(--Color-Grey-400, #666) !important;
    font-weight: 400;
}




.information-icon img {
    width: 139px;
    height: 139px;
}


.text2 {
    margin-bottom: 33px;
}

.search-counselor img,
.card-icon img {
    width: 262px;
    height: 258px;
    flex-shrink: 0;
    opacity: 0.4;
}

.search-counselor img {
    position: relative;
    top: -60%;
    left: 38%;
}

.card-icon img {
    width: 140px;
    height: 142px;
    position: relative;
    top: -115px;
    left: 55%;
}

.search-counselor {
    margin-bottom: 25px;
    width: 517px;
    height: 260px;
    border-radius: 30px;
    border: 1px solid var(--Color-Grey-800, #CCC);
    background: var(--Color-Grey-white, #FFF);
    box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.05);
    padding: 45px 0 0 45px;
}

.search-counselor .card-title {
    margin-bottom: 20px !important;
}

.c2 {
    margin-top: 20px;
}

.letter {
    position: relative;
    top: -50%;
    left: 55%;
    width: 148px;
    height: 158px;
}