header {
    width: 100%;
    max-width: 1080px;
    height: 200px;
    background-color: var(--mainOrange);
    display: flex;
    gap: 650px;
    padding: 102px 0 34px 70px;
}

header p {
    color: var(--Color-Grey-white, #FFF);
    font-family: Tenada;
    font-size: 48px;
    font-weight: 800;

}

header img {
    width: 67px;
    height: 60px;
}