.post-scroll-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: auto;
    max-height: 840px;
    gap: 30px;
}

.board-container {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: 0.3px solid var(--Color-Grey-800, #CCC);
    background: var(--Color-Grey-white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    padding: 30px 0 0 30px;
}

.user-name {
    display: flex;
    gap: 20PX;
    align-items: center;
    margin-bottom: 25px;
}

.user-name img {
    width: 30px;
    height: 30px;
}

.user-name span {
    color: var(--Color-Primary-500, #FF6500);
    font-size: 16px;
    font-weight: 600;
}

.contents {
    height: 135px;
    padding-right: 44px;
}

.question p {
    margin-left: 25%;
    white-space: nowrap;
}

.add-post {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 32px;
    color: #fff;
    padding-top: 30px;
    width: 850px;
    height: 100px;
    border-radius: 20px;
    background: var(--Color-Primary-600, #FF8433);
    margin: 50px 0 75px 0;
}