main {
    margin-top: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goBack-btn {
    position: absolute;
    top: 14%;
    left: 80px;
}

.goBack-btn img {
    width: 30px;
    height: 52px;
}

.question {
    color: var(--Color-Black-1000, #020202);
    font-size: 64px;
    font-weight: 600;
    margin: 140px 0 80px -45%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

strong {
    color: var(--Color-Primary-500, #FF6500);
}