<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carePath</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/nav.css">
    <link rel="stylesheet" href="/public/css/chooseBenefits.css">
    <link rel="stylesheet" href="/public/css/footer.css">

<body>
    <header>
        <p><a href="/views/index.html">carePath</a></p>
        <a href="/views/index.html"><img src="/public/images/home.png" alt=""></a>
    </header>

    <main>
        <div class="goBack-btn">
            <a href="/views/chooseInfo.html"><img src="/public/images/left-arrow.png" alt=""></a>
        </div>

        <div class="question-container">
            <h2 class="question qst"> 어떤 <strong>주거 시설 혜택</strong>을 <br>찾고 계신가요?</h2>
        </div>

        <div class="person">
            <img src="/public/images/person.png" alt="일러스트">
        </div>

        <!-- 전체 card 컨테이너 -->
        <div class="card-container card">
            <div class="choose-third-card">
                <div class="third-card">
                    <div class="title-container">
                        <h3 class="ment">임시주거지원<br>사업</h3>
                        <a href="#"><img src="/public/images/right-arrow.png" alt="" class="arrow"></a>
                    </div>
                    <span class="description">
                        노숙 또는 노숙 위기 상황에 놓인<br>
                        분들에게 고시원, 쪽방 등
                        임시<br>주거지를 지원합니다!
                    </span>
                </div>

                <div class="third-card">
                    <div class="title-container">
                        <h3 class="ment">매입임대주택<br>사업</h3>
                        <a href="#"><img src="/public/images/right-arrow.png" alt="" class="arrow"></a>
                    </div>
                    <span class="description">
                        열악한 환경에서 생활하는 주거<br>취약계층에게 저렴한 임대주택을<br> 제공합니다!
                    </span>
                </div>
            </div>
        </div>


    </main>

    <footer>
        <div class="logos">
            <a href="#"><img src="/public/images/instagram.png" alt=""></a>
            <a href="#"><img src="/public/images/facebook.png" alt=""></a>
            <a href="#"><img src="/public/images/youtube.png" alt=""></a>
        </div>

        <div class="info">
            <p>회사 소개 | 서비스이용약관 | 영상정보처리방침 </p>
            <p>고객서비스센터 080-1234-1234 (월~금 : AM 09:00 ~ PM 06:00)</p>
        </div>
    </footer>

</body>

</html>