<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carePath - 무료 음식 배급소 지도 </title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/nav.css">
    <link rel="stylesheet" href="/public/css/foodCenterMap.css">
    <link rel="stylesheet" href="/public/css/footer.css">

<body>
    <header>
        <p><a href="index.html">carePath</a></p>
        <a href="/views/index.html"><img src="/public/images/home.png" alt=""></a>
    </header>

    <main>
        <div id="map1">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d203038.04569091936!2d126.82387615202433!3d37.3313929113394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z66y066OMIOq4ieyLneyGjA!5e0!3m2!1sko!2skr!4v1731826610862!5m2!1sko!2skr"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div id="map2 hidden">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d203038.04569091936!2d126.82387615202433!3d37.3313929113394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z66y066OMIOq4ieyLneyGjA!5e0!3m2!1sko!2skr!4v1731826610862!5m2!1sko!2skr"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>


    <footer>
        <div class="back" onclick="window.location.href='#'">뒤로 돌아가기</div>
        <div class="logos">
            <a href="#"><img src="/public/images/instagram.png" alt=""></a>
            <a href="#"><img src="/public/images/facebook.png" alt=""></a>
            <a href="#"><img src="/public/images/youtube.png" alt=""></a>
        </div>

        <div class="info">
            <p>회사 소개 | 서비스이용약관 | 영상정보처리방침 </p>
            <p>고객서비스센터 080-1234-1234 (월~금 : AM 09:00 ~ PM 06:00)</p>
        </div>
    </footer>

</body>
<!-- <script src="/public/js/foodCenterMap.js"></script> -->
<!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2nsdd0L06GCs8SL7dO87VMIiCyreMWsM&libraries=places&callback=initMap">
    </script> -->


</html>