<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carePath</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/nav.css">
    <link rel="stylesheet" href="/public/css/infoPrint.css">
    <link rel="stylesheet" href="/public/css/footer.css">

<body>
    <header>
        <p><a href="/views/index.html">carePath</a></p>
        <a href="/views/index.html"><img src="/public/images/home.png" alt=""></a>
    </header>

    <main>
        <div class="print-ment-container">
            <img src="/public/images/paper.png" alt="">

            <div class="ment-container">
                <p>상담사 정보를 <strong>출력중</strong>입니다.</p>
                <p>잠시만 기다려주세요!</p>
            </div>

            <div class="progress-bar">
                <div class="progress"></div>
            </div>
        </div>

        <div class="print-finishMent-container" style="display: none;">
            <img src="/public/images/check.png" alt="">

            <div class="ment-container">
                <p>출력이 <strong>완료 </strong>되었습니다.</p>
                <p>앞으로도 자주 이용해주세요!</p>
                <p class="next">5초뒤 홈 화면으로 넘어갑니다</p>
            </div>
        </div>

    </main>

    <footer>
        <div class="logos">
            <a href="#"><img src="/public/images/instagram.png" alt=""></a>
            <a href="#"><img src="/public/images/facebook.png" alt=""></a>
            <a href="#"><img src="/public/images/youtube.png" alt=""></a>
        </div>

        <div class="info">
            <p>회사 소개 | 서비스이용약관 | 영상정보처리방침 </p>
            <p>고객서비스센터 080-1234-1234 (월~금 : AM 09:00 ~ PM 06:00)</p>
        </div>
    </footer>

</body>
<script src="/public/js/infoPrint.js"></script>

</html>