<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carePath</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/nav.css">
    <link rel="stylesheet" href="/public/css/stateTest.css">
    <link rel="stylesheet" href="/public/css/footer.css">

<body>
    <header>
        <p><a href="/views/index.html">carePath</a></p>
        <a href="/views/index.html"><img src="/public/images/home.png" alt=""></a>
    </header>

    <main>
        <div class="goBack-btn">
            <a href="/views/counselor/selectCounselor.html"><img src="/public/images/left-arrow.png" alt=""></a>
        </div>

        <div class="main-title-container">
            <p class="title"><strong>Q1.</strong> 생활비 지원이 필요하신가요?</p>
        </div>

        <div class="icon">
            <img src="/public/images/test-1.png" alt="" class="testimg">
        </div>

        <div class="all-box">
            <div class="box b1">예.</div>
            <div class="box b2">아니오.</div>
            <div class="box b3">모르겠어요.</div>
        </div>
        <footer>
            <div class="logos">
                <a href="#"><img src="/public/images/instagram.png" alt=""></a>
                <a href="#"><img src="/public/images/facebook.png" alt=""></a>
                <a href="#"><img src="/public/images/youtube.png" alt=""></a>
            </div>

            <div class="info">
                <p>회사 소개 | 서비스이용약관 | 영상정보처리방침 </p>
                <p>고객서비스센터 080-1234-1234 (월~금 : AM 09:00 ~ PM 06:00)</p>
            </div>
        </footer>
</body>
<script src="/public/js/checkStateTest.js"></script>
<script>


</script>

</html>