<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carePath</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/nav.css">
    <link rel="stylesheet" href="/public/css/stateTest.css">
    <link rel="stylesheet" href="/public/css/footer.css">

<body>
    <header>
        <p><a href="/views/index.html">carePath</a></p>
        <a href="/views/index.html"><img src="/public/images/home.png" alt=""></a>
    </header>

    <main>
        <div class="goBack-btn">
            <a href="/views/chooseInfo.html"><img src="/public/images/left-arrow.png" alt=""></a>
        </div>

        <div class="main-title-container">
            <p class="title">사용자님께 <strong>해당되는 항목</strong>을</p>
            <p class="title">클릭해주세요!</p>
        </div>
        <div class="home-icon">
            <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Hand%20gestures/Backhand%20Index%20Pointing%20Down%20Light%20Skin%20Tone.png"
                alt="Backhand Index Pointing Down Light Skin Tone" width="256" height="256" />
        </div>

        <div class="submit">
            <a href="#"><img src="/public/images/right-arrow.png" alt=""></a>
        </div>

        <div class="checkList-all-container">
        </div>




    </main>
    <footer>
        <div class="logos">
            <a href="#"><img src="/public/images/instagram.png" alt=""></a>
            <a href="#"><img src="/public/images/facebook.png" alt=""></a>
            <a href="#"><img src="/public/images/youtube.png" alt=""></a>
        </div>

        <div class="info">
            <p>회사 소개 | 서비스이용약관 | 영상정보처리방침 </p>
            <p>고객서비스센터 080-1234-1234 (월~금 : AM 09:00 ~ PM 06:00)</p>
        </div>
    </footer>
</body>
<script src="/public/js/stateTest.js"></script>
<script src="/public/js/checkStateTest.js"></script>
<script>


</script>

</html>