<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carePath</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/nav.css">
    <link rel="stylesheet" href="/public/css/chooseBenefits.css">
    <link rel="stylesheet" href="/public/css/footer.css">

<body>
    <header>
        <p><a href="/views/index.html">carePath</a></p>
        <a href="/views/index.html"><img src="/public/images/home.png" alt=""></a>
    </header>

    <main>
        <div class="goBack-btn">
            <a href="/views/chooseInfo.html"><img src="/public/images/left-arrow.png" alt=""></a>
        </div>
        <h2 class="question q1">어떤 <strong>직업 훈련 및 지원정보</strong>를<br>
            찾고 계신가요?</h2>

        <div class="icon">
            <img src="/public/images/check-icon.png" alt="일러스트">
        </div>

        <!-- 전체 card 컨테이너 -->
        <div class="card-container sub-container">
            <div class="choose-main-card" onclick="window.location.href='#'">

                <div class="main-title">
                    <div class="main-title">
                        <h2 class="card-title title1 sub-title">취업 지원 정보</h2>
                        <a href="/views/infos/worryList.html"><img src="/public/images/right-arrow.png" alt=""
                                class="arrow"></a>
                    </div>
                </div>

                <p class="card-text text1">사용자님의 고민에 알맞는 취업 지원 정보를<br> 알려드립니다!</p>
                <div class="card-icon information-icon"><img src="/public/images/setting-icon.png" alt=""></div>
            </div>


            <!-- 2번째 라인 -->
            <div class="choose-second-card">
                <div class="second-card">
                    <div class="title-container">
                        <h3 class="sub1">취업 정보</h3>
                        <a href="#"><img src="/public/images/right-arrow.png" alt="" class="arrow"></a>
                    </div>
                    <span class="description">사용자님께 알맞는 취업 정보들을<br>
                        알려드립니다!</span>
                </div>

                <div class="second-card">
                    <div class="title-container">
                        <h3 class="sub2">채용 정보</h3>
                        <a href="#"><img src="/public/images/right-arrow.png" alt="" class="arrow"></a>
                    </div>
                    <span class="description">현재 진행중인 정확한 취업 정보들을<br>
                        알려드립니다!</span>
                </div>
            </div>

        </div>


    </main>

    <footer>
        <div class="logos">
            <a href="#"><img src="/public/images/instagram.png" alt=""></a>
            <a href="#"><img src="/public/images/facebook.png" alt=""></a>
            <a href="#"><img src="/public/images/youtube.png" alt=""></a>
        </div>

        <div class="info">
            <p>회사 소개 | 서비스이용약관 | 영상정보처리방침 </p>
            <p>고객서비스센터 080-1234-1234 (월~금 : AM 09:00 ~ PM 06:00)</p>
        </div>
    </footer>

</body>

</html>