<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carePath</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/nav.css">
    <link rel="stylesheet" href="/public/css/title.css">
    <link rel="stylesheet" href="/public/css/post.css">
    <link rel="stylesheet" href="/public/css/footer.css">

<body>
    <header>
        <p><a href="index.html">carePath</a></p>
        <a href="/views/index.html"><img src="/public/images/home.png" alt=""></a>
    </header>

    <main>
        <div class="goBack-btn">
            <a href="/views/infos/showPost.html"><img src="/public/images/left-arrow.png" alt=""></a>
        </div>
        <div class="question subs-question">
            <p>공유하고 싶은 <strong>정보</strong>를 작성해봐요!</p>
        </div>

        <form action="#" class="form-container">
            <span>닉네임</span>
            <input type="text" placeholder="사용자들에게 보여질 닉네임을 작성해주세요!" required>

            <span class="write-title">작성하기</span>
            <textarea name="" id="" cols="30" rows="10" placeholder="어떤 정보를 공유하실 건가요?" required></textarea>
            <div class="addBtn">게시글 추가하기</div>
        </form>


    </main>

    <footer>
        <div class="logos">
            <a href="#"><img src="/public/images/instagram.png" alt=""></a>
            <a href="#"><img src="/public/images/facebook.png" alt=""></a>
            <a href="#"><img src="/public/images/youtube.png" alt=""></a>
        </div>

        <div class="info">
            <p>회사 소개 | 서비스이용약관 | 영상정보처리방침 </p>
            <p>고객서비스센터 080-1234-1234 (월~금 : AM 09:00 ~ PM 06:00)</p>
        </div>
    </footer>

</body>
<script src="/public/js/post.js"></script>

</html>