<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carePath</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/nav.css">
    <link rel="stylesheet" href="/public/css/popup.css">
    <link rel="stylesheet" href="/public/css/title.css">
    <link rel="stylesheet" href="/public/css/worryList.css">
    <link rel="stylesheet" href="/public/css/voucher.css">
    <link rel="stylesheet" href="/public/css/footer.css">

<body>
    <header>
        <p><a href="index.html">carePath</a></p>
        <a href="/views/index.html"><img src="/public/images/home.png" alt=""></a>
    </header>

    <main>
        <div class="goBack-btn">
            <a href="/views/index.html"><img src="/public/images/left-arrow.png" alt=""></a>
        </div>
        <div class="question subs-question">
            <p>사용자님께 <strong>필요한 바우처</strong>는</p>
            <p>무엇인가요?</p>
        </div>

        <div class="worryList-container">

        </div>

        <div class="overlay hidden"></div>

        <div class="popup-container hidden">
            <img src="/public/images/x-icon.png" alt="" class="x-icon">

            <div class="container1">
                <div class="target row">
                    <span>대상</span>
                    <p>만 18세 이상 ~ 34세 이하</p>
                </div>
                <div class="etc row">
                    <span>기타 자격</span>
                    <p>경제적 취약 계층 또는 어려운 환경에<br>처해 있는 청년들</p>

                </div>
            </div>
            <div class="line"></div>
            <div class="container2">
                <div class="organ row">
                    <span>담당기관</span>
                    <p>보건복지부, 지방자치단체</p>
                </div>

                <div class="progress row">
                    <span>지원절차</span>
                    <div class="description">
                        <p>신청 방법 : 각 지역의 사회복지기관 또는</p>
                        <p>온라인 신청 시스템을 통해 접수</p>
                        <p>서류 제출 : 신분증, 소득 증명서, 주소 확인서</p>
                        <p>등 필요한 서류 제출</p>
                        <p>심사: 지원 자격 및 상황을 검토하여 지원 결정</p>
                        <p>지원 지급 : 자립지원 바우처 형태로 비용 지원</p>
                    </div>
                </div>

                <div class="location row">
                    <span>위치</span>
                    <div class="description">
                        <p>서울: 서울특별시 보건복지부, 각 구청의</p>
                        <p>사회복지과</p>
                        <p>부산: 부산광역시청 사회복지과, 각 구청</p>
                        <p>대구: 대구광역시청 사회복지과</p>
                        <p>인천: 인천광역시청 사회복지과</p>

                    </div>
                </div>

                <div class="phone-number row">
                    <span>전화번호</span>
                    <p>보건복지부: 129</p>
                    <p>서울시 사회복지과</p>
                </div>
            </div>


            <div class="contact-button">
                <button onclick="printPage()">정보 출력하기</button>
            </div>
        </div>



        </div>

    </main>

    <footer>
        <div class="logos">
            <a href="#"><img src="/public/images/instagram.png" alt=""></a>
            <a href="#"><img src="/public/images/facebook.png" alt=""></a>
            <a href="#"><img src="/public/images/youtube.png" alt=""></a>
        </div>

        <div class="info">
            <p>회사 소개 | 서비스이용약관 | 영상정보처리방침 </p>
            <p>고객서비스센터 080-1234-1234 (월~금 : AM 09:00 ~ PM 06:00)</p>
        </div>
    </footer>

</body>
<script src="/public/js/voucher.js"></script>

</html>